computerName = "@computerName@"
privateKeyFile = "@privateKeyFile@"
passwordStore = "@passwordStore@"
sandboxdir = "@MG5_SANDBOXPATH@"
mg5base = "@MG5_PATH@"
mcrundir = "@MG5_MCPATH@"
webdavroot = "http://top.physics.lsa.umich.edu:10080/webdav/"
pythiapgsdir = "@MG5_PYTHIA6PGSPATH@"
pythia8dir = "/tmp/pipeline/test4/pythia8165"
pythia8toHEPEVT = "/tmp/pipeline/test4/sandbox/pythia8toHEPEVT/pythia8toHEPEVT"
hepevt2stdhep = "/tmp/pipeline/test4/sandbox/hepevt2stdhep/hepevt2stdhep"
